include ../../components/date-picker/date-picker
include ../../components/drop-down/drop-down
include ../../components/button/button

mixin cardRoom({ roomNumber, price })
  .card-room.js-card-room
    .card-room__header
      .card-room__detail
        | №
        span.card-room__detail-number= roomNumber
        .card-room__detail-category &nbsp;люкс
      .card-room__price
        span.card-room__price-number.js-card-room__price-number= price + "₽"
        | в сутки
    .card-room__data.js-card-room__data
      +datepicker({ firstTitle: "прибытие", secondTitle: "выезд" })
      +dropDown({
        extended: true,
        active: false,
        name: "гости",
        current: "Сколько гостей",
        text: [
          "взрослые",
          "дети",
          "младенцы"
        ],
      })
    .card-room__info.js-card-room__info
      .card-room__info-item
        .card-room__info-name.js-card-room__info-name(
          class="js-card-room__total-amount")= price
          | ₽
        .card-room__info-sum.js-card-room__info-sum.js-card-room__price-day= price
          | ₽
      .card-room__info-item
        .card-room__info-text
          .card-room__info-name.js-card-room__info-name.js-card-room__sale
            | Сбор за услуги: скидка 2 179₽
          .card-room__icon(data-text="Информация про сбор за услуги")
        .card-room__info-sum.js-card-room__info-sum 0₽
      .card-room__info-item
        .card-room__info-text
          .card-room__info-name.js-card-room__info-name
            | Сбор за дополнительные услуги
          .card-room__icon(data-text="В расчет входят стоимость за доп комплекты белья")
        .card-room__info-sum.js-card-room__info-sum.js-card-room__additional 3000₽
      .card-room__result
        .card-room__result-name Итого
        .card-room__total-price.js-card-room__total-price= price
          | ₽
    +button({
      style: "long",
      text: "забронировать",
      type: "submit",
    })&attributes({style:{"margin-top":"20px"}})
