include ../button/button
include ../field/field

mixin header(logo, items)
    .header
        .nav_bar
            .header__logo
                img(src=logo.src, alt=logo.alt ? logo.alt : 'logo')
            .nav__menu
                ul.nav__menu_items
                    if items
                        each item in items
                            li.nav__menu_item(
                                class=item.active ? 'nav__menu_item-active' : ''
                                class=item.more ? 'nav__menu_item-more' : '')
                                a(href=item.href ? item.href : '#')= item.text
                                if item.more
                                    ul
                                        each elem in item.more
                                            li
                                                a(href=elem.href ? elem.href : '#')=elem.text
                    else
                        li.nav__menu_item.nav__menu_item-active
                            a(href='#') нет элементов
                    li.nav__menu_item
                        +button({ style:'outline', text:'войти'})
                    li.nav__menu_item
                        +button({text:'зарегистрироваться'})
                .menu_burger
                    i.material-icons menu



mixin headerAuth(logo, items, name)
    .header
        .nav_bar
            .header__logo
                img(src=logo.src, alt=logo.alt ? logo.alt : 'logo')
            .nav__menu
                ul.nav__menu_items
                    if items
                        each item in items
                            li.nav__menu_item(
                                class=item.active ? 'nav__menu_item-active' : ''
                                class=item.more ? 'nav__menu_item-more' : '')
                                a(href=item.href ? item.href : '#')= item.text
                                if item.more
                                    ul
                                        each elem in item.more
                                            li
                                                a(href=elem.href ? elem.href : '#')=elem.text

                    else
                        li.nav__menu_item.nav__menu_item-active
                            a(href='#') нет элементов
                .menu_burger
                    i.material-icons menu
                .nav_auth
                    a(href=name.href ? name.href : '#')= name.text