//- style  -- small, long or outlined
//- text   -- button caption text
//- href   -- url address link format https://www.google.com/
mixin button({ style = "small" , text , href , border = true })
  -
    let classList = []
    let type = 'button'
    if (href) {
      type = 'link'
    }
    classList.push(`${type}_${style}`)
    if (!border) classList.push(`${type}_border-none`)

  if (href)
    a.link(class=classList href = href )&attributes(attributes)
      span.link__text= text
      if style === "long"
        .link__icon arrow_forward
  else
    button.button(class=classList)&attributes(attributes)
      span.button__text= text
      if style === "long"
        .button__icon arrow_forward
