include ../button/button
include ../icon/icon
mixin menu({items, auth})
  .menu(class=attributes.class)
    ul.menu__items.js-menu__items
      if items
        each item in items
          - const {more , text , href , active} = item
          li.menu__item(
            class=active ? "menu__item_active" : "" class=more
            ? "menu__item_more js-menu__item_more" : "")
            a.menu__link(href=href ? href : "./index.html")=text
            if more
              ul.menu__items_more
                each elem in more
                  - const {href, text} = elem
                  li.menu__element_plus
                    a.menu__element_link(href=href ? href : "./index.html")
                    = text
      else
        li.menu__item.menu__item_active
          a(href="./index.html") нет элементов
      if !auth
        li.menu__item
          +button({style: "outline", text: "войти",})
        li.menu__item
          +button({text: "зарегистрироваться"})
    .menu__burger.js-menu__burger
      +icon({text:"menu"})
    if !!auth
      - const {href, text} = auth
      .menu__auth
        a.menu__auth_link(href=href ? href : "./index.html")=text
