//- name -- input name
//- title -- text description
//- placeholder
//- form -- field form  boolean
mixin field({name, title , placeholder, form=false})
  if form
    form(class="field-form")&attributes(attributes)
      .field-form__title= title
      .field-form__block
        input.field-form__input.js-field_text( type="text",
          placeholder=placeholder, name=name)
        button.field-form__btn(type="submit" , name=name )
          .field-form__icon arrow_forward
  else
    .field
      label.field__label= title
        input.field__input.js-field_text( type="text",
          placeholder=placeholder ,
          name=name)
