//- social  ==  Array<object>
//- social  ==  href -  https://www.google.com/
//- social  ==  src -  image url
//- social  ==  alt -  image alt
//- menu == Array<object>
//- menu == title - caption menu block
//- menu == items Array<object>  {text , href}
//- logo == src logo img
//- {social:[{href='#', src, alt='social link'}] , menu:[{title ,items:[{text,href="#"}]}]}
mixin footer({ social , menu , logo = 'img/logo.png'}={})
  footer.footer
    .footer__container
      .footer-head
        .footer-head__info
          .footer-head__logo
            img.footer-head__logo-img(src=logo, alt="logo")
          .footer-head__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
        .footer-head__nav
          each nav in menu
            - const {title , items} =nav
            .footer-nav
              .footer-nav__title=title
              ul.footer-nav__items
                each item in items
                  - const {href , text} = item
                  li.footer-nav__item
                    a.footer-nav__item-link(href=href ? href : '#')=text
        .footer-head__subscribe
          .footer-head__subscribe-title Подписка
          .footer-head__subscribe-text Получайте специальные предложения и новости сервиса
          +field({
            name: 'email',
            placeholder: 'Email',
            form: true
          })
      .footer-subordinate
        .footer-subordinate__copyright Copyright © 2018 Toxin отель. Все права зачищены.
        .footer-subordinate__social
          each element in social
            - const {href , src , alt} = element
            a.footer-subordinate__link(href=href ? href : '#')
              img.footer-subordinate__img(src=src, alt=alt ? alt : 'social link')
