//- active -- maximize on rendering typeof Boolean
//- extended -- extended version +2 button typeof Boolean
//- current -- present value typeof String
//- text -- row items name
mixin dropdownSelect({extended=false ,active=false,  name,current , text }={})
  .dropdown
    .dropdown__title=name
    div( class= active ? "dropdown_active" : "",
      class=extended ? "js-dropdown__select_extended dropdown__select " +
        "dropdown__select_extended" : "dropdown__select js-dropdown__select")
      .dropdown__item-current.js-dropdown__item-current
        i.material-icons expand_more
        span.dropdown__text-current.js-dropdown__text-current= current
      .dropdown__items.js-dropdown__items
        each item in text
          .dropdown__item
            span.dropdown__item-span.js-dropdown__item-span= item
            .dropdown__control-panel
              .dropdown__button.js-dropdown__button.js-control_minus -
              span.dropdown__span.js-dropdown__span= 0
              .dropdown__button.js-dropdown__button.js-control_plus +
        if extended
          .dropdown__buttons
            button(type="reset").dropdown__button-reset.js-dropdown__button-reset очистить
            button(type="submit").dropdown__button-submit применить
