.input_text  
  label.label(for="in")
    | TEXT field
  input.input#in(type="text" placeholder='Email')

// .select__block
  label.label(for='sel')
    | dropdown
  select.select#sel(name="dropdown")
    option(value="") Ноябрь
    option(value="") Ноябрь2
    option(value="") Ноябрь3
    option(value="") Ноябрь4
  i.material-icons expand_more


mixin selectBlock(name , ...text )
  .select__block
    label.label(for= name)= name
    select.select(id= name name="dropdown")
      each item in text
        option(value= item)= item 
    i.material-icons expand_more


+selectBlock('dropdown' , 'декабрь', 'ноябрь', 'декабрь', 'ноябрь')

.dropdown__select
  h3 dropdown  
  .dropdown__select_current
    span= '2 спальни, 2 кровати 2 кровати 2 кровати'
    i.material-icons expand_more

  .dropdown__select_items
    - for (var x = 0; x < 3; x++)
      .dropdown__select_item
          span=  'спальни'
          .dropdown__control
            .dropdown__control_button.control_minus -
            span= x
            .dropdown__control_button.control_plus +


mixin dropdownSelect(name,current , ...text )

  .dropdown__select
    h3= name
    .dropdown__select_current
      i.material-icons expand_more
      span= current
    .dropdown__select_items
      each item in text
        .dropdown__select_item
          span=  item
          .dropdown__control
            .dropdown__control_button.control_minus -
            span= 0
            .dropdown__control_button.control_plus +

+dropdownSelect( 'dropdown','2 спальни, 2 кровати', 'спальни', 'кровати', 'ванные комнаты')


mixin dropdownSelectModify(name, current, ...text)
  .dropdown__select_modify
    h3= name
    .dropdown__select_current
      i.material-icons expand_more
      span= current
    .dropdown__select_items
      each item in text
        .dropdown__select_item
          span=  item
          .dropdown__control
            .dropdown__control_button.control_minus -
            span= 0
            .dropdown__control_button.control_plus +
      .dropdown__select_button 
        button(type='reset').dropdown__select_button-reset очистить
        button(type='submit').dropdown__select_button-submit применить

+dropdownSelectModify('dropdown','Сколько гостей', 'взрослые', 'дети', 'младенцы')
// checkbox list
mixin checkBox( text, name, ...label  )
  .check_box= text
    each item , indx in label
      .check_item
        input(id=name+'-'+indx)(type="checkbox" ) 
        label.label(for=name+'-'+indx)= item 


+checkBox( 'checkbox buttons','le', 
    ...['Можно курить' , 'Можно с питомцами ' , 
    'Можно пригласить гостей (до 10 человек)', 
    'Можно пригласить гостей ', 'Можно пригласить гостей' ,
    'Можно пригласить гостей'
    ])


// expandable checkbox list
mixin checkBoxExpandable(text, name, ...label )
  .check_box.checkbox__expan.exp_active= text 
    i.material-icons expand_more
    .checkbox__items
      each item , indx in label
        .check_item
          input(id=name+'-'+indx)(type="checkbox" ) 
          label.label(for=name+'-'+indx)= item 


+checkBoxExpandable( 'expandable checkbox list','exp', 
    ...['Завтрак' , 'Письменный стол' , 
    'Стул для кормления', 
    'Кроватка', 'Телевизор' ,
    'Шампунь','Телевизор' ,
    'Шампунь'
    ])



.radio_box
  | Radio Buttons
  .radio__items
    .radio__item
      input#r1(type="radio" name='gender')
      label(for="r1" class='radio__label') Мужчина
    .radio__item
      input#r2(type="radio" name='gender' )
      label(for="r2" class='radio__label') Женщина
  

.toogle_box
  | toogle
  input#t1(type="checkbox" name='gender')
  label(for="t1" class='radio__label') Получать спецпредложения
  input#t3(type="checkbox" name='gender')
  label(for="t3" class='radio__label') Получать спецпредложения