.input_text  
  label.label(for="in")
    | TEXT field
  input.input#in(type="text" placeholder='Email')

.select__block
  label.label(for='sel')
    | dropdown
  select.select#sel(name="dropdown")
    option(value="") Ноябрь
    option(value="") Ноябрь2
    option(value="") Ноябрь3
    option(value="") Ноябрь4
  i.material-icons expand_more


mixin checkBox( text, name, ...label  )
  .check_box= text
    each item , indx in label
      .check_item
         input(id=name+'-'+indx)(type="checkbox" ) 
         label.label(for=name+'-'+indx)= item 


+checkBox( 'checkbox buttons','le', 
    ...['Можно курить' , 'Можно с питомцами ' , 
    'Можно пригласить гостей (до 10 человек)', 
    'Можно пригласить гостей ', 'Можно пригласить гостей' ,
    'Можно пригласить гостей'
    ])

mixin checkBoxExpandable(text, name, ...label )
  .check_box.checkbox__expan.exp_active
    = text 
    i.material-icons expand_more
    .checkbox__items
      each item , indx in label
        .check_item
          input(id=name+'-'+indx)(type="checkbox" ) 
          label.label(for=name+'-'+indx)= item 


+checkBoxExpandable( 'expandable checkbox list','exp', 
    ...['Завтрак' , 'Письменный стол' , 
    'Стул для кормления', 
    'Кроватка', 'Телевизор' ,
    'Шампунь','Телевизор' ,
    'Шампунь'
    ])



.radio_box
  | Radio Buttons
  .radio__items
    .radio__item
      input#r1(type="radio" name='gender')
      label(for="r1" class='radio__label') Мужчина
    .radio__item
      input#r2(type="radio" name='gender' )
      label(for="r2" class='radio__label') Женщина
  

.toogle_box
  | toogle
  input#t1(type="checkbox" name='gender')
  label(for="t1" class='radio__label') Получать спецпредложения
  input#t3(type="checkbox" name='gender')
  label(for="t3" class='radio__label') Получать спецпредложения