mixin input(el, text , placeholder)
  .input_text
    label.label= text
      input.input(class='input_text_'+el, type="text", placeholder=placeholder name=el)
  // params el = email , name, phone , date

mixin inputSub(action , el, title, placeholder)
  form(action="" class='form_submit')
    .form_title= title
    .form_input
      input.input_sub(class='input_text_'+el, type="text", placeholder=placeholder, name=el)
      button.input_btn(type='submit' , name=el )
        i.material-icons arrow_forward