//- title - text above the label one or two

mixin datepicker({title1, title2 }={})
  if title2
    div.date-picker
      input.date-picker__input_hide.js-date-picker__input
      label(class='data-select__label js-data-select__label')= title1
        input(type="data" class="data-select__input js-data-select__input " +
        "js-data-select__input_left"
          placeholder='ДД.ММ.ГГГГ')
        i.material-icons expand_more
      label(class='data-select__label js-data-select__label')= title2
        input(type="data" class="data-select__input js-data-select__input " +
        "js-data-select__input_right"
          placeholder='ДД.ММ.ГГГГ')
        i.material-icons expand_more
  else
    div.date-picker
      label( class='data-select__label_s')= title1
        input.date-select__input_range.js-date-select__input_range( type="data" ,
          placeholder='ДД ММ - ДД ММ')
        i.material-icons expand_more